<mat-card>
    <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
                Classroom
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="gene-card-content" *ngIf="classroom" fxLayout="row">
        <div fxFlex="25">
            Книга: <h4 class="primary-text"> {{book.name}} </h4>
        </div>
        <div fxFlex="25">
            Количество для доступа: <h4 class="primary-text">{{classroom.countAccessStudent}}</h4>
        </div>
        <div fxFlex="25">
            Количество принятых: <h4 class="primary-text">{{classroom.countAcceptStudents}} </h4>
        </div>
        <div fxFlex="25">
            Доступ к книги: <h4 class="primary-text" *ngIf="classroom.bookAccess == false"> Нет доступа</h4>
            <h4 class="primary-text" *ngIf="classroom.bookAccess == true"> Есть доступ</h4>
        </div>
    </div>
    Студент:<br>
    <h4 class="primary-text" *ngFor="let student of classroom.students">{{student.idn}} &nbsp;&nbsp;
        status: {{student.status}}<br></h4>

    <div class="pad-t-md pad-b-md">
        <div>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <input matInput placeholder="ИИН студента" [(ngModel)]="idn" minlength="12" maxlength="12">
            </mat-form-field>
            <div *ngIf="error" style="margin-bottom: 2%; color: red">
                {{text}}
            </div>
        </div>
        <button mat-raised-button (click)="registerStudent(idn)">Запросить доступ определенного ученика</button>
    </div>


</mat-card>

<mat-card>
    Для получения доступа к книге: <br>
    <div class="pad-t-md pad-b-md">
        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
            <textarea matInput placeholder="Описание" [(ngModel)]="applicationBook.description"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="getAccess()">Запросить доступ для книги</button>
    </div>
</mat-card>
