<div class="user-manage-list">
    <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <div class="mrgn-l-md mrgn-b-md add-user-btn" fxLayoutAlign="start center">
                <mat-card-actions class="mat-pad-none margin-none">
                    <button mat-raised-button mat-button-sm color="primary" (click)="contentControl()">
                        Add New Content
                        <mat-icon class="mrgn-l-md gene-text-xl">add</mat-icon>
                    </button>
                    <button mat-raised-button mat-button-sm color="primary" (click)="report()">
                        Report
                        <mat-icon class="mrgn-l-md gene-text-xl">add</mat-icon>
                    </button>
                    <mat-label>Select the parent</mat-label>
                    <mat-select *ngIf="selectedBook" matInput (selectionChange)="getPromoCodesByBook()"
                                [(ngModel)]="selectedBook" class="form-control" placeholder="Select parent">
                        <mat-option *ngFor="let book of books" [value]="book">{{book.name}}</mat-option>
                    </mat-select>
                </mat-card-actions>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="table-responsive" *ngIf="promoCodes">
            <table class="full-wid" mat-table #table [dataSource]="promoCodes">
                <ng-container matColumnDef="bookId">
                    <th mat-header-cell *matHeaderCellDef>bookId</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayoutAlign="start center">
                            <h5 class="mrgn-b-xs">{{selectedBook.name}}</h5>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="serial">
                    <th mat-header-cell *matHeaderCellDef>serial</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayoutAlign="start center">
                            <h5 class="mrgn-b-xs">{{element.serial}}</h5>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="promoCode">
                    <th mat-header-cell *matHeaderCellDef>promoCode</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayoutAlign="start center">
                            <h5 class="mrgn-b-xs">{{element.promoCode}}</h5>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="activate">
                    <th mat-header-cell *matHeaderCellDef>activate</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayoutAlign="start center">
                            <h5 class="mrgn-b-xs">{{element.activate}}</h5>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="activatedBy">
                    <th mat-header-cell *matHeaderCellDef>activatedBy</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayoutAlign="start center">
                            <h5 class="mrgn-b-xs">{{element.activatedBy}}</h5>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"
                    (click)="selection.toggle(row)"></tr>
            </table>
        </div>
        <!--<div class="pagination">-->
        <!--<mat-paginator [length]="contents.length"-->
        <!--[pageSize]="10"-->
        <!--[pageSizeOptions]="[5, 10, 25, 100]">-->
        <!--</mat-paginator>-->
        <!--</div>-->
    </mat-card>
</div>
