<div class="app" [dir]="layout"
     [ngClass]="{'app-dark': dark, 'compact-sidebar': compactSidebar, 'customizer-in': customizerIn}">
    <mat-sidenav-container class="gene-container">

        <mat-toolbar class="gene-header-toolbar" fxFlex style="height: 50px">
            <div fxLayout="row" fxLayoutAlign="space-between cente" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img src="/assets/img/bbook1.png" [routerLink]="''" style="width: 70px; cursor: pointer;">
                </div>

                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-icon-button class="overflow-visible" (click)="chatMenu()">
                        <mat-icon style="color: white;">email</mat-icon>
                    </button>

                    <ms-language-drop-down></ms-language-drop-down>

                    <div class="secondary-menu">
                        <div style="font-size: 16px">
                            {{user?.name}} {{user?.surname}}
                        </div>
                        <button class="user-button" style="color: white" mat-button [matMenuTriggerFor]="menu">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon>account_circle</mat-icon>
                            </div>
                        </button>
                    </div>
                </div>
            </div>


        </mat-toolbar>

        <hr style="height:0.8px;border:none;color: lightgrey ;background-color:#333;">
        <ms-menu ></ms-menu>

        <div class="gene-base-container" #scrollContainer>
            <div class="inner-container">
                <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>

    <mat-menu class="user-menu" x-position="before" y-position="below" #menu="matMenu">
        <button *ngIf="user" mat-menu-item [routerLink]="'/app/user-profile/' + user.id">
            <mat-icon>account_circle</mat-icon>
            <span>{{'Profile' | translate}}</span>
        </button>
       <!-- <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>-->
       <!-- <button mat-menu-item>
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>-->
        <button mat-menu-item [routerLink]="'/dashboard/myclass/' + user.id">
            <mat-icon>wc</mat-icon>
            <span>{{'My Students' | translate}}</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="logOut()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>{{'Logout' | translate}}</span>
        </button>
    </mat-menu>

</div>

<div class="gene-chat-wrap" id ="gene-chat">
    <mat-card class="people-list">
        <mat-tab-group class="height-full">
            <mat-tab label="Chat" class="height-full">
                <div class="gene-card-content height-full">
                    <div class="chat-people-list height-full">
                        <mat-list role="list">
                            <ng-container *ngFor = "let chat of chatList">
                                <mat-list-item role="listitem" (click) = "onChatOpen()">
                                    <div class="gene-list-item full-wid" fxLayout="row wrap" fxLayoutAlign="space-around center">
                                        <div class="image-wrap" fxFlex="50px" class="mrgn-r-sm">
                                            <img src="{{chat.image}}"  alt="User">
                                        </div>
                                        <div class="people-desc" fxFlex="calc(100% - 100px)">
                                            <h4 class="margin-none font-normal make-ellipse">{{chat.name}}</h4>
                                            <span class="gene-text-md inline-block make-ellipse">{{chat.chat}}</span>
                                        </div>
                                        <div fxFlex="30px">
                                            <div class="show-status mat-grey-300 {{chat.mode}}"></div>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-divider class="mrgn-y-xs gene-relative"></mat-divider>
                            </ng-container>
                        </mat-list>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Settings">
                <div class="gene-card-content height-full">
                    <div class="chat-settings-list mrgn-b-xl">
                        <mat-list role="list">
                            <h3 mat-subheader class="mat-pad-none mrgn-b-md"><i class="material-icons">settings</i>Settings</h3>
                            <mat-list-item role="listitem">
                                <div class="gene-list-item full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="people-desc" fxFlex="200px">
                                        <h4 class="margin-none font-normal make-ellipse">Notifications</h4>
                                    </div>
                                    <div fxFlex="60px">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-divider class="mrgn-y-sm gene-relative"></mat-divider>
                            <mat-list-item role="listitem">
                                <div class="gene-list-item full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="people-desc" fxFlex="200px">
                                        <h4 class="margin-none font-normal make-ellipse">Quick Results</h4>
                                    </div>
                                    <div fxFlex="60px">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-divider class="mrgn-y-sm gene-relative"></mat-divider>
                            <mat-list-item role="listitem">
                                <div class="gene-list-item full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="people-desc" fxFlex="200px">
                                        <h4 class="margin-none font-normal make-ellipse">Auto Update</h4>
                                    </div>
                                    <div fxFlex="60px">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-divider class="mrgn-y-sm gene-relative"></mat-divider>
                        </mat-list>
                    </div>
                    <div class="chat-account-list">
                        <mat-list role="list">
                            <h3 mat-subheader class="mat-pad-none mrgn-b-md"><i class="material-icons">perm_identity</i>Account</h3>
                            <mat-list-item role="listitem">
                                <div class="gene-list-item full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="people-desc" fxFlex="200px">
                                        <h4 class="margin-none font-normal make-ellipse">Offline Mode</h4>
                                    </div>
                                    <div fxFlex="60px">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-divider class="mrgn-y-sm gene-relative"></mat-divider>
                            <mat-list-item role="listitem">
                                <div class="gene-list-item full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="people-desc" fxFlex="200px">
                                        <h4 class="margin-none font-normal make-ellipse">Location Share</h4>
                                    </div>
                                    <div fxFlex="60px">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-divider class="mrgn-y-sm gene-relative"></mat-divider>
                            <mat-list-item role="listitem">
                                <div class="gene-list-item full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="people-desc" fxFlex="200px">
                                        <h4 class="margin-none font-normal make-ellipse">Show Offline User</h4>
                                    </div>
                                    <div fxFlex="60px">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-divider class="mrgn-y-sm gene-relative"></mat-divider>
                            <mat-list-item role="listitem">
                                <div class="gene-list-item full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="people-desc" fxFlex="200px">
                                        <h4 class="margin-none font-normal make-ellipse">Save History</h4>
                                    </div>
                                    <div fxFlex="60px">
                                        <mat-slide-toggle></mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-list-item>
                            <mat-divider class="mrgn-y-sm gene-relative"></mat-divider>
                        </mat-list>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <mat-card class="chat-window" id="chat-open">
        <div class="chat-header primary-bg" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="profile-wrap" fxFlex="calc(100% - 100px)">
                <div fxLayoutAlign="start center">
                    <div class="image-wrap" fxFlex="40px" class="mrgn-r-xs">
                        <img src="assets/img/user-1.jpg" width="" height="" alt="">
                    </div>
                    <div fxFlex="calc(100% - 40px)">
                        <h5 class="margin-none make-ellipse">Abhijit Thapa</h5>
                        <span class="status-text gene-block gene-text-sm">Online</span>
                    </div>
                </div>
            </div>
            <div class="icons-wrap text-right" fxFlex="100px" fxLayoutAlign="end center">
                <a href="javascript:void(0)"><i class="material-icons inline-block">phone</i></a>
                <a href="javascript:void(0)"> <i class="material-icons inline-block">videocam</i></a>
                <a href="javascript:void(0)"><i class="material-icons inline-block margin-none" (click)="chatWindowClose()">close</i></a>
            </div>
        </div>
        <mat-card-content class="gene-card-content">
            <div class="chat-block-wrap">
                <div class="chat-block sender-chat mrgn-b-sm">
                    <p class="mat-grey-300">Hi There! Recently I updated the latest version of your app, it crashed every time when i open.Need Assistance</p>
                    <span class="sent-time gene-text-md gene-block">11:20pm</span>
                </div>
                <div class="chat-block receiver-chat text-right mrgn-b-sm">
                    <p class="mat-grey-300">Hi, Can you please tell us your mobile configuraion. Thank You!</p>
                    <span class="sent-time gene-text-md gene-block">12:00am</span>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="gene-card-footer">
            <mat-form-field class="full-wid">
                <input matInput placeholder="Type Your message">
                <mat-icon matSuffix>send</mat-icon>
            </mat-form-field>
        </mat-card-actions>
    </mat-card>
</div>
