<div>
    <div fxFlex="20" fxFlex.xs="5"></div>
    <div fxFlex="10" fxFlex.xs="20" fxLayoutAlign="end center" fxLayoutAlign.xs="center center">
        <img src="/assets/img/oiyn_icon.png" style="width: 95px; height: 90px; margin-right: -35%; z-index: 1; cursor: pointer;" (click)="playAudio(aidar.taskAudioId)">
    </div>
    <div fxLayoutAlign="start center" fxFlex="50" fxFlex.xs="67" class="task">
        <img src="/assets/img/sound_for_game.png" style="width: 20px; height: 20px; margin-left: 7%; margin-right: 2%; z-index: 1; cursor: pointer;" (click)="playAudio(aidar.taskAudioId)">
        <b>{{aidar.task}}</b>
    </div>
    <div fxFlex="20" fxFlex.xs="5"></div>
</div>

<div style="margin: 100px 100px 20px; position: relative">
    <div class="main-container" #mainDiv>
        <mat-grid-list cols="2" rowHeight="2:1">
            <ng-container *ngFor="let cword of circleWords; let i = index">
                <mat-grid-tile>
                    <ng-container *ngFor="let cletter of cword.letters; let i2 = index">
                        <div (click)="letterClicked(cword, cletter)"
                             [ngStyle]="{'width': cletter.w + 'px',
                            'height': cletter.h + 'px',
                            'top': cletter.y + 'px',
                            'left': cletter.x + 'px',
                            'z-index': cletter.isFirst ? 2 : 1,
                            'background-color': cletter.selected ? '#E74C3C' : '#5789D2'}"
                             class="rect syllable">
                            <div [ngStyle]="{'font-size': fullWidth * 0.015 + 'px'}" class="rect-child">
                                {{cletter.letter}}
                            </div>
                        </div>
                    </ng-container>
                </mat-grid-tile>
            </ng-container>
        </mat-grid-list>
    </div>
</div>
