<div fxFlexFill fxLayout="column" class="single-book">
    <div fxflex fxLayoutAlign="space-between center" style="margin: auto 0; ">
        <div class="sec-title center" style="color: white" fxFlex="51">
            <h1 style="font-size: 60px; text-align: center;  margin-top:15%;"><b>{{'Strengthen Your Knowledge With Us' | translate}}</b></h1>
        </div>
        <div fxLayout="column" fxFlex="15" style="margin-right: -11%;" >
            <button matTooltip="Сурет сөйлейді!"
                    matTooltipClass="example" mat-raised-button class="aidar">
                <img src="/assets/img/dashboard-alippe/aidar_logo2.png"
                     [routerLink]="'/dashboard/alippe/talkingPhoto'">
            </button>
            <button matTooltip="Жазу үлгісі!"
                    matTooltipClass="example" mat-raised-button class="aidar"><img
                    src="/assets/img/dashboard-alippe/aidar_logo1.png" [routerLink]="'/dashboard/alippe/writeWorld'"
            ></button>

        </div>
        <div fxLayout="column" fxFlex="15">
            <button mat-raised-button matTooltip="Кел, ойнайық!"
                    matTooltipClass="example" class="aidar"><img
                    src="/assets/img/dashboard-alippe/aidar_logo4.png" [routerLink]="'/dashboard/alippe/letsPlay'">
            </button>
            <button mat-raised-button
                    matTooltip="Тіліңді жаттықтыр!"
                    matTooltipClass="example" class="aidar"><img
                    src="/assets/img/dashboard-alippe/aidar_logo7.png" [routerLink]="'/dashboard/alippe/training'">
            </button>
            <button class="aidar" mat-raised-button
                    matTooltip="Әріп әлеміне саяхат!"
                    matTooltipClass="example"><img
                    src="/assets/img/dashboard-alippe/aidar_logo3.png" [routerLink]="'/dashboard/alippe/letter'">
            </button>

        </div>
        <div fxLayout="column" fxFlex="15" style="margin-left: -11%">
            <button mat-raised-button class="aidar" matTooltip="Өзіңді тексер!"
                    matTooltipClass="example"><img
                    src="/assets/img/dashboard-alippe/aidar_logo5.png"
                    [routerLink]="'/dashboard/alippe/testYourself'"></button>
            <button matTooltip="Қабілетіңді шыңда!"
                    matTooltipClass="example" class="aidar" mat-raised-button><img
                    src="/assets/img/dashboard-alippe/aidar_logo6.png" [routerLink]="'/dashboard/alippe/ability'">
            </button>
        </div>
        <div fxLayout="column" fxFlex="4"></div>

    </div>

</div>

