.task {
    background-color: #FFECB3;
    border: 6px solid #FFCC00;
    padding: 1% 0%;
    color: #1A237E;
    margin: 10px 0;
    font-size: 25px;
}


@font-face {
    font-family: 'Snell';
    src: url('../../../../../../assets/fonts/data-table/13573.otf') format("opentype");
}

.fonts {
    font-size: 25px;
    font-family: 'Snell' !important;
}