.task {
    background-color: #FFECB3;
    border: 6px solid #FFCC00;
    padding: 1% 0%;
    color: #1A237E;
    margin: 10px 0;
    font-size: 25px;
}

.main-container{
    padding: 2% 10%;

}
.syllables{
    margin: 0 20px;
    font-size: 26px;
}

.syllable-container button{
    font-size: 26px;
}
.syllable-container{
    margin: 20px;
    float: left;
}




