<h2 style="text-align: center">Чтобы получить индивидуальный план заполните некоторые данные</h2>
<div style="width: 70%;margin-left: 15%">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Семейный статус
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>search</mat-label>
                <input matInput required>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ваша должность
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>search</mat-label>
                <input matInput required>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ваши интересы
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>search</mat-label>
                <input matInput required>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Чем вы занимаетесь в свободное время?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>search</mat-label>
                <input matInput required>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Дети
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>search</mat-label>
                <input matInput required>
            </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    В каком напрвлении вы хотели бы себя развить?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>search</mat-label>
                <input matInput required>
            </mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<button style="margin-left: 70%;margin-top: 3%" mat-stroked-button>ОК</button>

