
<mat-grid-list cols="3" rowHeight="2:2">
    <mat-grid-tile>
        <div class="image-container">

            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
