<div class="lesson-open">
    <div class="lesson-start">
        <div>
            <h2>10. Java OOP</h2>
            <h3>We will learn about Java object-oriented programming using chapters from Shctild V2 edition book.</h3>
        </div>
        <div>
            <div fxLayout="row" fxLayoutAlign="space-around start">
                <mat-card fxFlex>
                    Список уроков
                    <br>
                    <mat-list>
                        <mat-list-item> 10. Java OOP </mat-list-item>
                        <mat-list-item> 11. Java Inheritance </mat-list-item>
                        <mat-list-item> 12. Java Polymorphism </mat-list-item>
                        <mat-list-item> 13. Java Incapsulation </mat-list-item>
                    </mat-list>
                </mat-card>
                <mat-card fxFlex="70">
                    Видео
                    <img src="/assets/img/play-img.png" alt="play">
                </mat-card>
            </div>
        </div>

        <div class="description">
            <mat-card>
                <h3>Задача</h3>
                <div class="info-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus aliquam dolor sed dapibus.
                        Nunc suscipit, nulla eu rhoncus efficitur, quam nisi placerat urna, ut volutpat dolor est quis
                        ante.
                        Vestibulum eget tempus sem. Etiam viverra metus eget turpis sodales consequat. Pellentesque
                        rhoncus
                        finibus magna a feugiat. Proin ullamcorper eget metus ac commodo. Vivamus ac nisl nibh.
                        Curabitur
                        blandit, ligula quis laoreet rhoncus, ligula nulla dignissim lorem, nec sollicitudin lectus
                        sapien
                        id lacus. Sed sodales tortor eleifend, convallis lectus ac, consectetur ipsum. Proin gravida id
                        quam
                        in lacinia. Sed pretium odio congue arcu consectetur, id dapibus mauris consectetur. Fusce
                        vestibulum gravida ipsum, et sagittis ante viverra ac. Integer nunc justo, elementum vitae
                        vestibulum non, suscipit a magna. Fusce vel nulla faucibus, lobortis urna eu, ullamcorper
                        lacus.</p>

                    <p>Nulla libero metus, pulvinar vel nisl at, finibus imperdiet metus. Sed vel risus erat. Quisque
                        sollicitudin, eros ac aliquet luctus, sem est vulputate turpis, eu feugiat erat ante id est.
                        Duis
                        quis elementum orci. Donec scelerisque ex quam, sed mattis sem dictum sed. Sed euismod sagittis
                        pharetra. Aliquam tempor ex id leo tempus, non tincidunt est pharetra. Pellentesque porttitor
                        feugiat sapien placerat imperdiet. Phasellus ut aliquet neque, vel molestie justo. Praesent
                        tempor
                        ipsum purus, scelerisque lacinia nulla lacinia vel. Vestibulum viverra quis neque a
                        venenatis.</p>

                </div>
            </mat-card>
        </div>
        <div class="comment">
            <div class="leave-comment">
                <h3>Оставить комментарии </h3>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <textarea matInput type="text" class="form-control"
                              placeholder="Комментировать"></textarea>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button color="primary" matTooltip="Save">
                        Отправить
                    </button>
                </div>
            </div>
            <div class="comments">
                <h3>Комментарий </h3>
                <br>
                <div>
                    <h4>Azamat</h4>
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <textarea matInput type="text" class="form-control" disabled>Да, отличные курсы!</textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

</div>
