button {
    margin: 8px 2px 4px 8px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    margin: 4px 16px 8px;
}

.left {
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: flex-start;
    width: 100%;
}