@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss

body {
    background: #F5F5F5;
}
gene-app{
    width: 100%;
    overflow-y: auto;
}
button.btn {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #039be5;
    color: white;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.card {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    .card-title {
        padding: 16px 24px;
        font-size: 16px;
        background-color: #353a48;
        color: #FFF;
    }
    .card-content {
        padding: 24px;
        background-color: #FFF;
    }
}

.hover-cursor-pointer:hover {
    cursor: pointer !important;
}

@font-face {
    font-family: 'Snell RoundHand Bold';
    src: url('/assets/fonts/data-table/SnellRoundhand-BlackScript.otf') format("opentype");
}

@font-face {
    font-family: 'Snell';
    src: url('/assets/fonts/data-table/13573.otf') format("opentype");
}

@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/data-table/Oswald-ExtraLight.ttf') format("opentype");
}