<div class="header">
    <h1 class="title">text example</h1>
    <div class="search" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>search</mat-label>
            <input matInput name="search" required>
        </mat-form-field>
    </div>
</div>
<mat-grid-list cols="3" rowHeight="2:2">
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list style="margin-top: 20px" cols="2" rowHeight="2:1">
    <mat-grid-tile>
        TEXT + ICON
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container-second">
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div class="button-row">
    <button style="margin-left: 10px" mat-stroked-button>Basic</button>
    <button style="margin-left: 10px" mat-stroked-button>Basic</button>
    <button style="margin-left: 10px" mat-stroked-button>Basic</button>
    <button style="margin-left: 10px" mat-stroked-button>Basic</button>
</div>

<mat-grid-list cols="4" rowHeight="2:2" style="margin: 20px">
    <mat-grid-tile >
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div class="button-row">
    <button mat-stroked-button>Еще</button>
</div>
<div style="margin-top: 10px;text-align: center">
    <h2>Новости</h2>
</div>

<mat-grid-list cols="3" rowHeight="2:2">
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="image-container">
            <h2 class="event">EVENT</h2>
            <h5 class="event-description">EVENT</h5>
        </div>
    </mat-grid-tile>
</mat-grid-list>
