
.image-container{
  width: 280px;
  height: 280px;
  background-image: url("https://www.placehold.it/350");
}
.event{
  text-align: center;
  margin-top: 40%;
  color: white;
}

.event-description{
  text-align: center;
  color: white;
}
