<h2 style="text-align: center">Курсы которые соответствует вашим интересам</h2>
<div fxLayout="row">
    <div style="width: 5%">
        <button mat-icon-button color="warn" style="top: 40%">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </div>
    <mat-grid-list cols="4" rowHeight="2:2" style="margin: 20px;width: 90%">
        <mat-grid-tile>
            <div class="image-container">
                <button mat-icon-button color="warn" style="margin-left: 85%">
                    <mat-icon>close</mat-icon>
                </button>
                <h2 class="event">EVENT</h2>
                <h5 class="event-description">EVENT</h5>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-container">
                <button mat-icon-button color="warn" style="margin-left: 85%">
                    <mat-icon>close</mat-icon>
                </button>
                <h2 class="event">EVENT</h2>
                <h5 class="event-description">EVENT</h5>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-container">
                <button mat-icon-button color="warn" style="margin-left: 85%">
                    <mat-icon>close</mat-icon>
                </button>
                <h2 class="event">EVENT</h2>
                <h5 class="event-description">EVENT</h5>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-container">
                <button mat-icon-button color="warn" style="margin-left: 85%">
                    <mat-icon>close</mat-icon>
                </button>
                <h2 class="event">EVENT</h2>
                <h5 class="event-description">EVENT</h5>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div style="width: 5%">
        <button mat-icon-button color="warn" style="top: 40%">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>

<div fxLayout="row" style="margin-top: 1%">
    <div style="width: 5%">
        <button mat-icon-button color="warn" style="top: 40%">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </div>
    <mat-grid-list cols="4" rowHeight="2:2" style="margin: 20px;width: 90%">
        <mat-grid-tile>
            <div class="image-container">
                <button mat-icon-button color="warn" style="margin-left: 85%">
                    <mat-icon>close</mat-icon>
                </button>
                <h2 class="event">EVENT</h2>
                <h5 class="event-description">EVENT</h5>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-container">
                <button mat-icon-button color="warn" style="margin-left: 85%">
                    <mat-icon>close</mat-icon>
                </button>
                <h2 class="event">EVENT</h2>
                <h5 class="event-description">EVENT</h5>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-container">
                <button mat-icon-button color="warn" style="margin-left: 85%">
                    <mat-icon>close</mat-icon>
                </button>
                <h2 class="event">EVENT</h2>
                <h5 class="event-description">EVENT</h5>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="image-container">
                <button mat-icon-button color="warn" style="margin-left: 85%">
                    <mat-icon>close</mat-icon>
                </button>
                <h2 class="event">EVENT</h2>
                <h5 class="event-description">EVENT</h5>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div style="width: 5%">
        <button mat-icon-button color="warn" style="top: 40%">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>
