<mat-toolbar color="primary" class="make-toolbar-responsive" style="height: 40px; ">
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/main'"  mat-button >Главная</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/my-courses'"  mat-button >Курсы</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/open-course'"  mat-button >Курсы Открытый</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/open-lesson'"  mat-button >Урок Открытый</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/task'"  mat-button >Задание</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/questioning'"  mat-button >Анкетирование</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/suitable-courses'"  mat-button >Подходящие курсы</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/news'"  mat-button >Новости и События</button>

</mat-toolbar>
