<mat-toolbar color="primary" class="make-toolbar-responsive" style="height: 40px; ">
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/main'"  mat-button >Главная</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/my-courses'"  mat-button >Курсы</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/news'"  mat-button >Новости</button>
    <button style="font-family: Roboto, arial-black, sans-serif!important;" class="mrgn-all-xs" [routerLink]="'/dashboard/news'"  mat-button >События</button>

</mat-toolbar>
